body {
    background-color: rgb(255, 239, 213);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 218, 185);
    color: rgb(71, 71, 69);

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

}

.nav-links li a {
    text-decoration: none;
    color: rgb(71, 71, 69);
}

.menu-toggle {
    display: none;
    flex-direction: column;

}

.menu-toggle .bar {
    width: 30px;
    height: 5px;
    background-color: rgb(71, 71, 69);
    margin: 4px 0;
 }

 .menu {
    position: relative;
    z-index: 8;
 }

 @media screen and (max-width: 600px) {
    .menu-toggle {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        width: 92.5%;
        background-color: rgb(255, 218, 185);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 5px;
    }

 }

 #hatterkep {
    width: 95%;
    padding: 20px;
    margin: 20px;
 }

 #hatterkep img {
    width: 99%;
    align-items: center;
 }

 #gridek {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    gap: 5px;
    justify-content: center;
    align-content: center;
 }

 .kartyak {
    text-align: center;
 }

 @media screen and (max-width: 600px) {
    #gridek {
        grid-template-columns: 1fr;
    }
 }

h1 {
    text-align: center;
    padding-top: 40px;
}

.cikkek {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    gap: 5px;
    justify-content: center;
    align-content: center;
 }

 @media screen and (max-width: 600px) {
    .cikkek {
        grid-template-columns: 1fr;
    }
 }

 .cikkKepek {
    width: 200px;
 }

 footer {
    text-align: center;
    padding: 10px;
    color: aliceblue;
    background-color: rgb(99, 100, 100);
    width: 99%;
 }

#kismama, #gyerekes, #dolgozo {
    border: 2px solid grey;
    border-radius: 10%;
    padding: 10px;
    margin: 20px;
    background-color: rgb(255, 218, 185);;
}

#cikk1, #cikk2, #cikk3, #cikk4, #cikk5, #cikk6 {
    padding: 20px;
    margin: 10px;
}
 

.keret {
    width: 360px;
    background-color: rgb(255, 218, 185);
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
}

label, input {
    padding-right: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    background-color: #fff;
    color:black;
    margin-top: 5px;
    width: 250px;
    margin-left: 100px;
}

input[type=email] {
    background-color: #fff;
    color: black;
    margin-top: 5px;
    width: 250px;
    margin-left: 100px;
}

input[type=tel] {
    background-color: #fff;
    color: black;
    margin-top: 5px;
    width: 250px;
    margin-left: 100px;
}

textarea{
    background-color: #fff;
    margin-left: 100px;
    width: 250px;
}

sup {
    color: red;
}

input[type=submit] {
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 0px;
    background-color: rgb(255, 239, 213);
    width: 100px;
    color: rgb(71, 71, 69);
    font-size: 20px;
    font-style: oblique;
}

input[type=submit]:hover {
    background-color: #cccaca;
}
 

input[type=radio] {
   margin: 20px;
   margin-top: 0;
   margin-left: 100px;
}

.cbox {
    font-style: italic;
}

.blogcikk {
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}

#tovabbiCikkek {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 218, 185);
    font-style: oblique;
    color: rgb(71, 71, 69);
    font-weight: bold;
    border-color: rgb(255, 218, 185);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 218, 185);
    font-style: oblique;
    color: rgb(71, 71, 69);
    font-weight: bold;
    border-color: rgb(255, 218, 185);
    text-align: center;
    display: flex;
    justify-content: left;
   align-items: start;
}


#tablazat table, th, td {
    margin: 0 auto;
    margin-top: 40px;
    height: 40px;
    width: 300pt;
    border: solid black 3pt;
    border-collapse: collapse;
    border-color: rgb(255, 218, 185);
}

#tablazatNev {
    text-align: left;
    padding-left: 5pt;
}


th {
    font-size: 15pt;
    width: 180pt;
}

td {
    width: 20%;
    font-size: 15pt;
    width: 180pt;
    text-align: left;
    padding-left: 5pt;
}

#vkad, #elso, #masodik, #harmadik, #negyedik {
    width: 120pt;
    text-align: center;
}

#kapcsolatP {
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    /*float: left;*/
    width: 300pt;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 20px;
    line-height: 2;
    font-size: large;
    
}

/* 

#tablazat {
    float: right;
    margin-right: 400px;
    margin-left: 10px;
}
*/
span {
    font-weight: bold;
    text-decoration: underline;
}




@media screen and (max-width: 1000px) {
    #kapcsolatP {
        float: none;
        margin: 200px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #tablazat {
        float: none;
        margin: 200px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    #kapcsolatP {
        float: none;
        margin: 20px;
    }

    #tablazat {
        float: none;
        margin: 20px;
    }
}


.tanacsadasGomb {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 239, 213);
    font-style: oblique;
    color: rgb(71, 71, 69);
    font-weight: bold;
    border-color: rgb(255, 239, 213);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tanacsadasGomb:hover {
    background-color: #cccaca;
}

#tovabbiCikkek:hover {
    background-color: #cccaca;
}

.back-button:hover {
    background-color: #cccaca;
}


.indexCim {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #hatterkep {
       margin: 0 auto;
       padding: 0px;
       margin: 0px;
       margin-left: 10px;
       margin-top: 10px;
    }
    footer {
        margin: 0 auto;
        padding: 0;
        padding-top: 10px;
        margin-top: 20px
    };

    .cikkek {
        margin: 0 auto;
        padding: 0;
    }

    .gridek {
        margin: 0 auto;
        padding: 0;
    }

    .indexCim {
        margin: 0 auto;
    }
}

#container3 {
    display: block;
}


#kapcs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

#kapcsolatP {
    flex: 1 1 60%;
    text-align: center;
    justify-content: center;
}

#tablazat {
    flex: 1 1 35%;
    margin-left: -100px;
}

#kapcsH {
    margin-left: 60px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #tablazat {
        padding: 10px;
        margin: 10px;
    }
}


#kapcsFoot {
    margin-top: 269px;
}

#blogFoot {
    margin-top: 30px;
}

#tanFoot {
    margin-top: 30px;
}


.container5 {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 20px;
}

#onarckep {
   max-width: 600px;
   width: 100%;
   margin-right: 20px;
   margin-bottom: 20px;
   flex-shrink: 0;
}

.szoveg3 {
    flex: 1;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .conatiner5 {
        flex-direction: column;
    }
    #onarckep {
        margin-right: 0;
    }
    .szoveg3 {
        width: 80%;
    }
}
