body {
    background-color: rgb(255, 239, 213);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 218, 185);
    color: rgb(71, 71, 69);

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

}

.nav-links li a {
    text-decoration: none;
    color: rgb(71, 71, 69);
}

.menu-toggle {
    display: none;
    flex-direction: column;

}

.menu-toggle .bar {
    width: 30px;
    height: 5px;
    background-color: rgb(71, 71, 69);
    margin: 4px 0;
 }

 .menu {
    position: relative;
    z-index: 8;
 }

 @media screen and (max-width: 600px) {
    .menu-toggle {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        background-color: rgb(255, 218, 185);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 5px;
    }

 }

 #hatterkep {
    width: 95%;
    padding: 20px;
    margin: 20px;
 }

 #hatterkep img {
    display: inline;
    width: 95%;
    align-items: center;
 }

 #gridek {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    gap: 5px;
    justify-content: center;
    align-content: center;
 }

 .kartyak {
    text-align: center;
 }

 @media screen and (max-width: 600px) {
    #gridek {
        grid-template-columns: 1fr;
    }
 }

h1 {
    text-align: center;
}

.cikkek {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    gap: 5px;
    justify-content: center;
    align-content: center;
 }

 
